.filternight
    .filter-ctn
        .filterheader(ng-init="hideNightFilter=false" ng-click="hideNightFilter=!hideNightFilter")
            h5 <i class="fa fa-usd" aria-hidden="true"></i> Precio por noche <i class="fa fa-sort-asc" aria-hidden="true"></i>
        .filtercontainer(ng-show="!hideNightFilter" )
            input(type='range', name='points', min='0', max='10')
