.orderselect-ctn
    .orderselect-header
    .orderselect-ctn
        select
            option(value='maxStars') M치s estrellas
            option(value='minStars') Menos esrellas
            option(value='maxPrice') Precios m치s altos
            option(value='minPrice') Precios m치s baratos
        p Ordenar
.orderselect-ctn
    .orderselect-header
    .orderselect-ctn
        select
            option(value='pricePerNight') Precio por noche por habitaci칩n
            option(value='totalPrice') Precio completo
