.orderselect-ctn
    .orderselect-header
    .orderselect-ctn
        select
            option(value='pricePerNight') Precio por noche por habitación
            option(value='totalPrice') Precio completo
        p &nbsp;
.orderselect-ctn
    .orderselect-header
    .orderselect-ctn
        select
            option(value='maxImportant') Más relevantes
            option(value='maxStars') Más estrellas
            option(value='minStars') Menos esrellas
            option(value='maxPrice') Precios más altos
            option(value='minPrice') Precios más baratos
        p Ordenar