header.headerMain
    div.divHeaderMain
        img.logoAlmundo(src="./src/client/img/logo-almundo.svg")
        ul.linksHeaderMain
            li
                a Ingresar
            li.clubAlMundoHeader
                a ClubAlmundo
            li
                a Sucursales
            li
                a Llámanos
            li.helpTag
                a AYUDA

    div.divNavigatorMenu
        ul.linksNavigatorMenu
            li
                a Hoteles
            li
                a Vuelos
            li
                a Vuelo + Hotel
            li
                a Paquetes
            li
                a Disney
            li
                a Escapadas
            li
                a Seguros
            li
                a Autos
            li
                a Cruceros
            li
                a Ofertas
            li
                a Más