.headerMain
  width: 100%
//////////DIV HEADER MAIN////////////
.divHeaderMain
  width: 100%
  height: auto
  background: #002f71
  background: -moz-linear-gradient(left, #002f71 1%, #1b4985 100%)
  background: -webkit-linear-gradient(left, #002f71 1%,#1b4985 100%)
  background: linear-gradient(to right, #002f71 1%,#1b4985 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f71', endColorstr='#1b4985',GradientType=1 )

.divHeaderMain li
  display: inline

.divHeaderMain li a
  text-decoration: none
  padding: .2em 1em
  color: #fff

.divHeaderMain li a:hover
  color: #cbc7c9

.helpTag
  color: #f4811a

/////////NAVIGATOR-MENU/////////

.divNavigatorMenu
  color: #ffffff
  background: #013971
  background: -moz-linear-gradient(left, #013971 0%, #406992 100%)
  background: -webkit-linear-gradient(left, #013971 0%,#406992 100%)
  background: linear-gradient(to right, #013971 0%,#406992 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013971', endColorstr='#406992',GradientType=1 )
  border: solid 1px
  border-color: #243e77
  height: 5%

.divNavigatorMenu ul
  margin: 0
  padding: 0 10%
  list-style-type: none
  text-align: center
  font-size: medium
  font-weight: bold

.divNavigatorMenu ul li
  display: inline

.divNavigatorMenu ul li a
  text-decoration: none
  padding: .2em 1em
  color: #fff

.divNavigatorMenu ul li a:hover
  background-color: #013971

