header.headerMain
    div.divHeaderMain.row
        div.containLogoAlmundo.col-lg-6
            img.logoAlmundo(src="./src/client/img/logo-almundo.svg")
        ul.linksHeaderMain.col-lg-6
            li
                a(href='#') Ingresar
            li.clubAlMundoHeader
                a(href='#')
                    img(src="./src/client/img/logo-clubalmundo.svg")
            li
                a(href='#') Sucursales
            li
                a(href='#') Llámanos
            li.helpTag
                a(href='#') AYUDA

    div.divNavigatorMenu.row
        ul.linksNavigatorMenu
            li
                a Hoteles
            li
                a Vuelos
            li
                a Vuelo + Hotel
            li
                a Paquetes
            li
                a Disney
            li
                a Escapadas
            li
                a Seguros
            li
                a Autos
            li
                a Cruceros
            li
                a Ofertas
            li
                a Más