header.headerMain
    div.divHeaderMain.row
        div.containLogoAlmundo.col-lg-6
            img.logoAlmundo(src="./src/client/img/logo-almundo.svg")

        ul.linksHeaderMain.col-lg-6
            li
                a(href='#') Ingresar
            li.clubAlMundoHeader
                a(href='#')
                    img(src="./src/client/img/logo-clubalmundo.svg")
            li
                a(href='#') Sucursales
            li
                a(href='#') Llámanos
            li
                a.helpTag(href='#') AYUDA

    div.divNavigatorMenu.row
        ul.linksNavigatorMenu
            li
                a(href='#') Hoteles
            li
                a(href='#') Vuelos
            li
                a(href='#') Vuelo + Hotel
            li
                a(href='#') Paquetes
            li
                a(href='#') Disney
            li
                a(href='#') Escapadas
            li
                a(href='#') Seguros
            li
                a(href='#') Autos
            li
                a(href='#') Cruceros
            li
                a(href='#') Ofertas
            li
                a(href='#') Más