.filters-root-ctn
    ul
        li

            filterHeader

            h4(ng-init="hidefilters=false", ng-click="hidefilters=!hidefilters") Filtrar <i class="fa fa-caret-down" aria-hidden="true"></i>

        li

            searchName(filters ='$ctrl.filtersController', ng-show="!hidefilters")
        li

            searchPrice(filters ='$ctrl.filtersController', ng-show="!hidefilters")
        li

            searchStars(filters ='$ctrl.filtersController', ng-show="!hidefilters")
