.breadcrumb
    ul.breadcrumbUl
        li
            a.lik(href="#") Home
        li
            span  /
        li
            a.lik(href="#") Hoteles
        li
            span  /
        li
            span.hereCrumb parís
