.breadcrumb-ctn
  @media only screen and (min-width: 1366px)
    //display: inline-flex
    //margin: 4px 10px
    display: block
    line-height: 16px
    //line-height: 1rem
    font-size: 12px
    //font-size: 0.75rem
    font-weight: 400
    margin: 8px 0 8px
    margin-bottom: 8px
    border-bottom: 1px solid #CCC
    p
      color: #157ab1
    a
      text-decoration: none
      &:hover
        color: #1a99df
