.map
    .map-ctn
        .map-header(ng-show="!hideMap")
            img(src="/build/img/map.png" class="img-responsive")
        .map-container(ng-init="hideMap=false", ng-click="hideMap=!hideMap")
            p <i class="fa fa-map-marker" aria-hidden="true"></i> Ver hoteles en mapa
