form(name='stars', ng-controller='starsController')
    | Estrellas
    br
    label
        | ★★★★★
        input(type='checkbox', ng-model='checkboxModel.value1')
    br
    label
        | ★★★★
        input(type='checkbox', ng-model='checkboxModel.value1')
    br
    label
        | ★★★
        input(type='checkbox', ng-model='checkboxModel.value1')
    br
    label
        | ★★
        input(type='checkbox', ng-model='checkboxModel.value1')
    br
    label
        | ★
        input(type='checkbox', ng-model='checkboxModel.value2', ng-true-value="'YES'", ng-false-value="'NO'")
    br
    tt value1 = {{checkboxModel.value1}}
    br
    tt value2 = {{checkboxModel.value2}}
    br