div(ng-controller="priceBoxComponent")
    small precio por noche por habitación

    br

    p.exchange ARS

    p.price 1.596

    br

    small impuestos y tasas no incuidos

    button Ver Hotel


    br


    p Pagá en cuotas
    p Pagá en destino

