//imports

@import "./font"
@import "./variables"
@import "./../app/sliderComponent/slider"
@import "./../app/resultH/filterComponent/filter"
@import "./../app/resultH/resultContainerItems/resultContainerItems"
@import "./../app/resultH/breadcrumbComponent/breadcrumb"
@import "./../app/resultH/resultH"

//Main Sass


body
  background-color: #F4F4F4
  font-family: 'Roboto', sans-serif
  overflow-x: hidden
ul
  list-style-type: none
  padding: 0px
  margin: 0px
h1, h2, h3, h4, p, a
  font-family: 'Roboto', sans-serif
