div.sliders
    ul.items-ctn
        li(ng-repeat="slide in $ctrl.items track by $index")
            img(ng-src="{{slide}}" ng-show="$ctrl.currentIndex == $index")
    ul.nav-ctn
        li.prev(ng-click="$ctrl.prev()") prev
        li.next(ng-click="$ctrl.next()") next