.container-fluid
    main.row
        div.breadcrumb-ctn
        div.search-ctn.col-xs-12.col-sm-12.col-md-12
        div.filter.col-xs-12.col-sm-12.col-md-3
        div.hotels-ctn(hotels-root).col-xs-12.col-sm-12.col-md-9
            itemlist(hotels = "$ctrl.getho()")
