.searchheaderInfo
  .searchbox
    .header
      p Hoteles disponibles para:
    .content
      p <i class="fa fa-map-marker" aria-hidden="true"></i> parís
      p <i class="fa fa-calendar-check-o" aria-hidden="true"></i> 29/05/2017
      p <i class="fa fa-calendar-check-o" aria-hidden="true"></i> 15/06/2017
      p <i class="fa fa-user" aria-hidden="true"></i> 4 huéspedes
      a(href="#") Modificar búsqueda
