.searchheader-ctn
  width: 100%
  .searchbox
    margin: 4px 0px
    @media only screen and (min-width : 1024px)
      padding: 8px 8px
    border: 1px solid #747762
    box-sizing: border-box
    .header
      p
        color: #444444
        font-weight: normal
        @media only screen and (min-width : 1024px)
          padding: 0px 10px
          font-size: 20px
          line-height: 24px
    .content
      display: block
      padding: 0px 10px
      @media only screen and (min-width: 1024px)
        display: inline-flex
      p
        color: #444444
        @media only screen and (min-width : 1024px)
          font-size: 14px
          line-height: 24px
          padding: 0px 10px
      a
        color: #2e6da4
