.filterheader
    .filterDelete
        .filterheader
            h4 Filtrar
            span(class="delete-filter" ng-click="$ctrl.hotelsResultController.$onInit()") <i class="fa fa-times" aria-hidden="true"></i> Eliminar Filtros
        .filtercontainer

