main.row
section.breadcrumb-ctn
section.search-ctn.col-md-1
    div(style="border: 1px solid;height: 100px")
section.filter-ctn.col-md-4
    div(style="border: 1px solid;height: 100px")
section.hotels-ctn.col-md-8
    itemlist(hotels = "ctrl.getho()")

div
